streamlit==1.58.0

pandas
numpy

scikit-learn
joblib

xgboost

matplotlib
seaborn

jupyter

faiss-cpu
sentence-transformers
transformers

langchain
langchain-community

pymupdf
plotly

ollama
google-genai